// Place all the styles related to the SuFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.file-box .file {
	border-bottom: 1px solid #ebebeb;
	margin-top: 7px;
}

.files-box .file-box .file .link {
	margin-left: 20px;
}

.files-box .file-box {
	 margin-left: 18px;
}